.review{

margin-left:10px;
margin-right:20px;
width:595px;
position:relative;
}
.reviewtop{
background-image:url(../img/reviewtop.png);
height:12px;
background-repeat:no-repeat;
}
.reviewcenter{

background-image:url(../img/reviewcenter.png);
background-repeat:repeat-y;
}

.reviewcenter ul{
	margin-left:15px;
}
.rating{
 width:35px;
 height:34px;
 background-image:url(../img/rating.png);
 float:right;
 margin-right:40px;
}
.rating ul{
	margin-left:40px;
	margin-top:7px;
}
.reviewbottom{

background-image:url(../img/reviewbottom.png);
height:14px;
background-repeat:no-repeat;
}