.vert_menu{
margin-top:18px;	
width:270px;
float:left;
position:relative;

}
.vert_menu h1{
color:#00a5e4;
margin-left:50px;
}

.verch{
background-image:url(../img/vmenutop.png);
height:33px;
background-repeat:no-repeat;
}

.center{
background-image:url(../img/vmenucenter.png);
background-repeat:repeat-y;
}

.niz{
height:23px;
background-image:url(../img/vmenubuttom.png);
background-repeat:no-repeat;
}
.center ul{
margin-left:20px;
}
.center li  {

list-style:none;
}

.center a{

color:#00a5e4;
}